<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Show specific comment</title>
	</head>
	<body>
		<h3>Comment id: <%= comment.id %></h3>
		<h4><%= comment.comment %> - <%=comment.username %></h4>
		<a href="/comments">Back to all comments</a>
	</body>
</html>
